body {
  background-color: purple;
}

.container {
  height: 392px;
  width: 481px;
  background: #f7f5f9;
  border-radius: 12px;
  filter: drop-shadow(5px 5px 15px rgba(0, 0, 0, 0.25));
  margin: 0 auto;
}

.heading {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 20px;
  margin-left: 8.5%;
  padding-top: 40px;
  margin-bottom: 25px;
}

.name,
.phone,
.email {
  font-size: 15px;
  line-height: 20px;
  background: #ffffff;
  border: none;
  filter: drop-shadow(0px 7px 64px rgba(0, 0, 0, 0.07));
  border-radius: 6px;
  height: 48px;
  width: 376px;
  margin-left: 40px;
  margin-bottom: 25px;
  padding-left: 25px;
}

.name::placeholder,
.phone::placeholder,
.email::placeholder {
  color: #d0c9d6;
}

.name:hover,
.phone:hover,
.email:hover {
  border: 1px solid #854fc8;
}

.button {
  width: 401px;
  height: 48px;
  font-size: 17px;
  line-height: 22px;
  align-items: center;
  text-align: center;
  color: #ffffff;
  background: #6979f8;
  border: 1px solid #854fc8;
  box-shadow: 0px 7px 64px rgba(0, 0, 0, 0.07);
  border-radius: 6px;
  margin-left: 8.5%;
  margin-bottom: 25px;
}
